.exif-data-enabled {
	background-color: #333;
	font-size: 16px;

	ul {
		list-style-position: inside;

		li {
			list-style: none;

			svg {
				margin-right: 6px;
				position: relative;
				top: 6px;
			}
		}
	}
}
